a:link {
    text-decoration: none;
    color: rgb(202, 130, 6)
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
}