.cosmic-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;

}

.bg-gradient-radial {
  background-image: radial-gradient(circle, var(--tw-gradient-stops));
  
}
