@keyframes particle {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(20px, -30px) scale(1.5);
  }
}


.animate-particle {
  animation: particle 2s ease-out infinite;
}